/* Website background */
body {
    background-color: white;
    text-align: center;
}

/* Head of the resume */

div {
    margin-left: 40px;
    margin-right: 40px;

}

.my_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.my_job {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}


@media all and (min-width: 901px)
{
    .head_of_resume {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row-reverse;
    }
    
    div {
        margin-left: 40px;
        margin-right: 40px;
        width: 250px;
    }  
    
}
