@font-face {
    font-family: 'Montserrat-Light';
    src: url(./base/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(./base/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Monserrat-Medium';
    src: url(./Montserrat-Medium.ttf);
}
