/* STYLE FOR HTML FILES IN DIRECTORY "hard_skills_page" */


.stacks_pictures {
    display: flex;    
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    background-color: blue;  /* !!!! WILL BE REMOVED, ONLY HERE TO DEBUG !!!! */
}

.stacks_pictures div {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100px;
    
    background-color: crimson;  /* !!!! WILL BE REMOVED, ONLY HERE TO DEBUG !!!! */
}

.stacks_pictures_size_10_100 {
    width: inherit;

    background-color: gold;  /* !!!! WILL BE REMOVED, ONLY HERE TO DEBUG !!!! */
}
