/* STYLE FOR HTML FILES IN DIRECTORY "main_website_welcome_page" */


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

.langage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.french, .english {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 900px)   /* For all media with a minimum of 901px width */
{
    .langage {
        margin-top: 40px;
    }

    .choice_fr {
        margin-bottom: 30px;
    }

    .choice_eng {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .around_flag_uk, .around_flag_fr {
        width: 150px;
    }

    .flag_fr, .flag_uk {
        width: inherit;
    }
}

@media all and (min-width: 901px)    /* For all media with a maximum of 900px width */
{
    .langage {
        display: flex;
        justify-content: space-evenly;
        margin-top: 75px;
    }

    .choice_fr {
        margin-bottom: 30px;
    }

    .choice_eng {
        margin-bottom: 45px;
    }

    .around_flag_uk, .around_flag_fr {
        width: 250px;
    }

    .flag_fr, .flag_uk {
        width: inherit;
    }
}