.eachExperience {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 2rem;
    margin: 5rem 7rem 2rem 2rem;
    padding: 0;
    font-family: $font-variable-Poppins-Light;
    div {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 15rem;
        h3 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
    div:first-child {
        width: 25rem;
    }
    div:last-child {
        p:first-child {
            margin-top: 1rem;
        }
        p:last-child {
            margin-top: 1rem;
        }
    }
}

.eachExperience:last-child {
    margin-bottom: 9rem;
}
